.book {
  width: 295px;
  border: 1px solid #dadada;
}

.book-image {
  display: flex;
  justify-content: center;
}

.book-image img {
  height: 250px;
  width: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  cursor: pointer;
  margin: auto;
}

.book-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  padding: 0 10px;
}

.book-first-author {
  font-size: 12px;
  padding: 0 10px;
}

.book-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  align-items: center;
  padding: 20px 10px 20px 10px;
}

.book-price {
  font-weight: 600;
  font-size: 18px;
}

.order-button {
  align-items: center;
  background-color: #176B87;
  box-shadow: 0 0 5px rgba(134, 182, 246, 0.5);
  border: none;
  color: white;
  border-radius: .25rem;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 1rem;
  padding: calc(.500rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.order-button:hover,
.order-button:focus {
  cursor: pointer;
  background-color: #86B6F6;
  box-shadow: 0 0 15px rgba(134, 182, 246, 0.5);
  border: none;
  transition: 0.5s;
}

.order-button:hover {
  transform: translateY(-1px);
}

.order-button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
